<ul class="tasks-container">
  <li *ngFor="let task of filteredTaskList; let i = index"
      (mouseenter)="onMouseEnter(task)"
      (mouseleave)="onMouseLeave(task)">
    <input type="checkbox" [checked]="task.done" (change)="toggleDone(task)" />
    <span [class.completed]="task.done">{{ task.content }}</span> <!-- Utilisation de task.content au lieu de task.description -->
    <button (click)="deleteTask(i)">&#x274C;</button>
    <div *ngIf="task.showMessage" class="message"> <!-- Utilisation de *ngIf au lieu de ngIf -->
      {{ task.done ? 'Bravo ! Cette tâche est bien réalisée.' : 'Il reste à faire cette tâche. Courage !' }}
    </div>
  </li>
</ul>
