<ul class="tasks-container" (scroll)="onScroll($event)">
  <li
    *ngFor="let task of filteredTaskList; let i = index"
    (mouseenter)="onMouseEnter(task)"
    (mouseleave)="onMouseLeave(task)"
    >
    <input type="checkbox" [checked]="task.done" (change)="toggleDone(task)" />
    <span [class.completed]="task.done">{{ task.content }}</span>
    <button (click)="deleteTask(i)">&#x274C;</button>
    <div *ngIf="task.showMessage" class="message">
      {{ task.done ? 'Bravo ! Cette tâche est bien réalisée.' : 'Il reste à faire cette tâche. Courage !' }}
    </div>
  </li>
</ul>
<div *ngIf="showScrollMessage" class="scroll-message">
  Tu as l'air d'avoir beaucoup de tâches en cours.
</div>
